<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\Logs\Debug.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger:%newline      %message%newline%exception" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="INFO" />
      </filter>
    </appender>
    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\Logs\Error.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger:%newline      %message%newline%exception" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="ERROR"/>
      <!--chcemy taki poziom ze wszystkich loggerów w aplikacji-->
      <appender-ref ref="DebugFileAppender" />
      <appender-ref ref="ErrorFileAppender" />
    </root>
    <logger name="OnlineBookStoreLogger">
      <level value="ERROR" />
      <!-- poziom dla loggerów aplikacji; ustaw DEBUG żeby logować wywołania serwisów  -->
      <appender-ref ref="DebugFileAppender" />
      <appender-ref ref="ErrorFileAppender" />
    </logger>
  </log4net>
</configuration>