BODY, TD { font-family: Segoe UI, Verdana; }
H1 { padding: .5em; padding-top: 0; font-weight: bold;
font-size: 1.5em; border-bottom: 2px solid gray; }
DIV#content
{
    border-left: 2px solid gray;
    margin-left: 9em;
    padding: 1em;
}
TABLE.Grid TD, TABLE.Grid TH { border-bottom: 1px dotted gray; text-align:left; }
TABLE.Grid { border-collapse: collapse; width:100%; }
TABLE.Grid TH.NumericCol, Table.Grid TD.NumericCol {
text-align: right; padding-right: 1em; }
FORM {margin-bottom: 0px; }
DIV.Message { background: gray; color:White; padding: .2em; margin-top:.25em; }
.field-validation-error { color: red; display: block; }
.field-validation-valid { display: none; }
.input-validation-error { border: 1px solid red; background-color: #ffeeee; }
.validation-summary-errors { font-weight: bold; color: red; }
.validation-summary-valid { display: none; }
.editor-field { margin-bottom: .8em; }
.editor-label { font-weight: bold; }
.editor-label:after { content: ":" }
.text-box { width: 15em; }
.multi-line { height: 5em; font-family: Segoe UI, Verdana; }

DIV#header DIV.title, DIV.item H3, DIV.item H4, DIV.pager A {
font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}
DIV#header
{
    background-color: #000000;
    border-bottom: 2px solid #111;
    color: White;
}
DIV#header DIV.title
{
    font-size: 2em;
    padding: .6em;
}
DIV#categories
{
    float: left;
    width: 8em;
    padding: .3em;
    background-color: #FFFFFF;
}
DIV#categories A
{
font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial; display: block;
text-decoration: none; padding: .6em; color: Black;
border-bottom: 1px solid silver;
}
DIV#categories A.selected
{
    background-color: #000000;
    color: White;
}
DIV#categories A:hover { background-color: #CCC; }
DIV#categories A.selected:hover { background-color: #666; }
.actionButtons A, INPUT.actionButtons
{
    font: .8em Arial;
    color: White;
    margin: .5em;
    text-decoration: none;
    padding: .15em 1.5em .2em 1.5em;
    background-color: #000000;
    border: 1px solid black;
    cursor:pointer;
}
.blank_row
{
    height: 10px;
    background-color: #FFFFFF;
}
